.shoppingCart-container {
  display: inline-grid;
  width: 100%;
}

.shoppingCart-price-container {
  margin: 10px;
  color: #989898;
  justify-self: end;
  font-weight: 700;
  font-size: 1.1rem;
}

.shoppingCart-price {
  margin-left: 8px;
  color: #aa24bd;
}
