.shoppingCart-button {
  background: #aa24bd;
  width: fit-content;
  color: white;
  height: 30px;
  border: 1px solid #aa24bd;
}

.shoppingCart-button-active {
  background: #f8e7fb;
  color: #aa24bd;
}

.shoppingCart-button-price {
  margin-right: 8px;
}

.shoppingCart-button-icon {
  margin: 8px;
  font-size: 1.2rem;
}

.shoppingCart-button-close {
  background: #aa24bd;
  color: white;
  height: 30px;
  width: 30px;
  font-size: 1.3rem;
}
