.shoppingCart-product {
  border-bottom: 1px solid #eeeeee;
  margin: 10px 0;
}

.shoppingCart-product-number {
  position: relative;
}

.shoppingCart-product-image-container {
  height: 100px;
  width: 100px;
  margin: 0 60px;
}

.shoppingCart-product-image {
  max-height: 100px;
  width: auto;
}
