.store-product {
  border: 1px solid #989898;
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.store-product-selected {
  border: 2px solid #aa24bd;
  -webkit-box-shadow: 5px 5px 62px -25px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 5px 5px 62px -25px rgba(0, 0, 0, 0.53);
  box-shadow: 5px 5px 62px -25px rgba(0, 0, 0, 0.53);
}

.store-product-items {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  width: 30px;
  height: 30px;
  padding: 8px;
  background: #aa24bd;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 700;
}
