.productDetails-description {
  padding: 8px;
  border-top: 1px solid #f8d9fd;
  border-bottom: 1px solid #f8d9fd;
}

.productDetails-description > div {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.productDetails-price:before {
  content: " • ";
  color: #f8d9fd;
}

.productDetails-price {
  color: #aa24bd;
  font-weight: 700;
}

.productDetails-name {
  font-weight: 700;
}

.productDetails-button {
  border: none;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  float: right;
  width: 30px;
  height: 25px;
}

.productDetails-button-add {
  color: white;
  background: #aa24bd;
}

.productDetails-button-remove {
  color: black;
  background: #eeeeee;
}

.productDetails-generalDetails {
  margin: 10px 10px 10px 0px;
}
